<p id="notice"><%= notice %></p>

<h1>Listing Accounts</h1>

<%= link_to 'New Account', new_account_path ,class:'btn btn-success btn-lg'%>

<% @grouped_months.keys.sort.each do |month| %>  
<h2><%= month.strftime("%B %Y") %></h2>  

    
    <table class="table table-hover">
      <tbody>
        <% for account in @grouped_months[month] %>
          <tr>
            <td><%= account.deadline %></td>
      			<td><%= link_to account.title.try(:name), account_path(account) %></td>
      			<td><%= account.price %></td>
            <!--<td><%= link_to 'Show', account ,class:'btn btn-success'%></td>-->
            <td><%= link_to 'Edit', edit_account_path(account) ,class:'btn btn-warning'%></td>
            <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger' %></td>
          </tr>
          <% end %> 
          <tr>
            <td></td>
            <td>總計</td>
            <td colspan="3"><%= Account.sum(:price) %></td>
          </tr>
      </tbody>
    </table>
    <!--<p><b><%= account.deadline.to_s(:long) %></b><%= account.title.try(:name) %> <%= account.price.to_s(:long) %></p>  -->
<% end %>  

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t("account.deadline") %></th>
  		<th><%= t("account.title") %></th>
  		<th><%= t("account.price") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.deadline %></td>
  			<td><%= link_to account.title.try(:name), account_path(account) %></td>
  			<td><%= account.price %></td>
        <!--<td><%= link_to 'Show', account ,class:'btn btn-success'%></td>-->
        <td><%= link_to 'Edit', edit_account_path(account) ,class:'btn btn-warning'%></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger' %></td>
      </tr>
    <% end %>
      <tr>
        <td></td>
        <td>總計</td>
        <td colspan="3"><%= Account.sum(:price) %></td>
      </tr>
  </tbody>
</table>